<%- include ('./partials/header.ejs'); %>
<%- include ('./partials/navbar.ejs'); %>
<body>
    <div class="container">
        <section class="bg-dark text-light p-5 text-center">
            <div class="container">
                <div>
                    <div>
                        <h1>Bem vindo ao blog</h1>
                    </div>
                    <img src="/public/img/section_image.svg" alt="" width="90">
                </div>
            </div>
        </section>
    </div>
</body>
<%- include ('./partials/footer.ejs'); %> 