<%- include ('../../partials/header.ejs'); %>
<%- include ('../../partials/navbar.ejs'); %>

<body>
    <div class="container">
        <h1 class="h1 mb-3">Criar usuario admin</h1>
        <form class="form-signin" action="/users/create" method="post">
        <label for="email_input">Endereço de email</label>
        <input type="email" name="email" id="email_input" class="form-control" placeholder="email@exemplo.com" required autofocus>
        <label for="senha_input">*********</label>
        <input type="password" name="password" id="senha_input" class="form-control" placeholder="*******" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
    </form>
    </div>
</body>
<!-- <div class="container">
    <div class="card mt-4">
        <div class="card-header">
            <h1>Criar usuario</h1>
        </div>
        <div class="card-body">
            <form action="/users/create" method="POST">
                <input class="form-control" type="email" name="email" placeholder="email@exemplo.com">
                <input type="password" class="form-control mt-4 mb-4" name="password" placeholder="*******">
                <button class="btn btn-success" type="submit">Criar</button>
            </form>
        </div>
    </div>
</div> -->

<%- include ('../../partials/footer.ejs'); %> 
