<%- include ('../../partials/header.ejs'); %>
<body style="height: 100%;">
    <div class="d-flex justify-content-center" style="margin-top: 10%;">
        <form action="/authenticate" method="POST" style="width: 26rem;">
            <div class="form-outline mb-4">
                <input type="email" name="email" id="form1Example1" class="form-control">
                <label class="form-label" for="form1Example1">Email address</label>
            </div>

            <div class="form-outline mb-4">
                <input type="password" id="form1Example2" class="form-control" name="password">
                <label class="form-label" for="form1Example2">Password</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
        </form>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</html>
